
layout {
    tab name="HOME" {
        pane {
            focus true
            name "Explorer"
            size "58%"
            command "yazi"
        }
        pane {
            name "System"
            cwd "/"
            size "40%"
            command "btm"
        }
    }
    
	default_tab_template split_direction="horizontal" {
	    children
	    pane {
	        name "Tabs"
	        size "2%"
	        borderless true
	        plugin location="zellij:tab-bar"
	    }
	}
}

